{% extends "blog_base.html"%}

{% block content %}

<form action="" method="post">

        <div class="inputContainer">
            <input class="inputText" type="text" name="userName" value="{{user_name}}" placeholder="Username">
            {% if name_status != True and name_status != None%}
                <div style="color:red; font-size:0.8em">{{name_status}}</div>
            {% endif %}
            <input class="inputText" type="password" name="userPassword" value="{{user_password}}" placeholder="Password">
            {% if password_status != True%}
                <div style="color:red; font-size:0.8em">{{password_status}}</div>
            {% endif %}
            <input class="inputText" type="password" name="passwordConfirmation" value="" placeholder="Confirm password">
            <input class="inputText" type="text" name="userEmail" value="{{user_email}}" placeholder="Email(optional)">
            {% if email_status != True and email_status == "" %}
                <div>{{email_status}}</div>
            {% endif %}
            <input class="submitButton" type="submit">
        </div>
    <div>
        <p>Name must have more than 3 characters</p>
        <p>Password must have at least 6 characters</p>
    </div>

</form>
{% endblock %}