{% extends "blog_base.html"%}

{% block content %}
<form action="" method="post">
                <div class="form-group inputText">
                        <input type="text" name="title" value="{{title}}" placeholder="Title" class="form-control" >
                        <small class="error">{{error1}}</small>
                </div>
                <div class="form-group inputText">
                    <textarea name="content" id="" cols="30" rows="10" placeholder="Add Content" class="form-control" rows="2" >{{content}}</textarea>
                    <small class="error">{{error2}}</small>
                    <p><small class="error">{{error3}}</small></p>
                    <input type="submit" value="Submit" name="newPostButton" class="btn btn-primary">
                    {% if edit == True %}
                    <a href="/blog/{{blog_id}}" class="btn btn-primary" name="edit" role="button">Cancel</a>
                    {% endif %}
                </div>
</form>
{% endblock %}
