{% extends "blog_base.html"%}
<!-- blog_base's child template-->

{% block content %}
<!-- Template rendered for user's profile page -->
<!-- Errors are outputted by Jinja2 -->
<form action="/blog/signup" method="post">
        <div class="inputContainer form-group">
            <input class="inputText form-control" type="text" name="userName" value="{{user_name}}" placeholder="Username">
            {% if name_status != True and name_status != None%}
                <small class="inputText error">{{name_status}}</small>
            {% endif %}
            <input class="inputText form-control" type="password" name="userPassword" value="{{user_password}}" placeholder="Password">
            {% if password_status != True%}
                <small class="inputText error">{{password_status}}</small>
            {% endif %}
            <input class="inputText form-control" type="password" name="passwordConfirmation" value="" placeholder="Confirm password">
            <input class="inputText form-control" type="email" name="userEmail" value="{{user_email}}" placeholder="Email(optional)">
            {% if email_status != True and email_status == "" %}
                <small class="inputText error">{{email_status}}</small>
            {% endif %}
            <input class="submitButton btn btn-primary" type="submit">
            <div>
                <p><small class="form-text mark">Name must have at least than 3 characters.</small></p>
                <small class="form-text mark ">Password must have at least 6 characters.</small>
            </div>
        </div>
</form>
{% endblock %}