{% extends "blog_base.html"%}

{% block content %}
<form action="" method="post">
    {% for p in posts %}
        <div class="inputText list-group ">
            <h3><a href="{{p.key().id()}}" class="list-group-item active">{{p.title}}</a></h3>
            <div class="inputText">
                <p class="text-muted">By {{p.user_name}}/  <span class="text-center">Date created: {{p.created}}</span></p>
                <p>{{p.content}}</p>
            </div>

        </div>
    {% endfor %}
</form>

{% endblock %}
